body {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
}
header {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	width: 100%;
	background-image: url("images/89980.webp");
	background-size: cover;
	background-position: center;
}
.dragon {
	color: rgb(245, 213, 5);
}
.ball {
	color: red;
}

input {
	border-radius: 8px;
	padding: 8px;
	margin: 8px;
	border: 1px #ff6f00 solid;
}

#character-list {
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
	gap: 16px;
}
.dbtext {
	font-family: "Saiyan Sans", sans-serif;
	font-size: 20px;
	background: -webkit-linear-gradient(#ffe100, #ff0000);
	background-clip: text;

	-webkit-background-clip: text;
	-webkit-text-fill-color: transparent;
	-webkit-text-stroke: 0.1px black;
	-webkit-text-stroke: 0.1px black;
}
.planet-text {
	font-family: "Saiyan Sans", sans-serif;
	font-size: 20px;
	background: -webkit-linear-gradient(#ff0000, #ffe100);
	background-clip: text;
	-webkit-background-clip: text;
	-webkit-text-fill-color: transparent;
	-webkit-text-stroke: 0.1px black;
	-webkit-text-stroke: 0.1px black;
}
h1 {
	font-family: "Saiyan Sans", sans-serif;
	font-size: 100px;
	color: #ff6f00;
	border-color: #000;
	text-shadow: 2px 2px 0 #000, 4px 4px 0 #cd5a02;
}

button {
	border: 1px solid #ff6f00;
	border-radius: 8px;
	padding: 8px;
	margin: 8px;
	background: #ff6f00;
	color: white;
	cursor: pointer;
}

.character-card {
	border: 1px solid #ff6f00;
	border-radius: 8px;
	padding: 16px;
	margin: 16px;
	text-align: center;
	box-shadow: 0 4px 8px rgba(0, 0, 0, 0.5);
	width: 300px;
	box-sizing: border-box;
	max-height: 300px;
	background-image: url("images/89980.webp");
}

img {
	max-height: 200px;
	border-radius: 8px;
}

.character-item h2 {
	margin: 8px 0;
}

.character-item p {
	margin: 4px 0;
}

img:hover {
	transform: scale(1.1);
}
.ki {
	color: red;
	font-family: "Saiyan Sans", sans-serif;
}

.name {
	font-family: "Saiyan Sans", sans-serif;
	cfont-size: 72px;
	background: -webkit-linear-gradient(#ffe100, #ff0000);
	-webkit-background-clip: text;
	-webkit-text-fill-color: transparent;
	-webkit-text-stroke: 0.1px black;
}
.skeleton-card {
	background: #e0e0e0;
	border-radius: 8px;
	padding: 16px;
	margin: 16px;
	width: 300px;
	height: 200px;
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	animation: pulse 1.5s infinite;
}

.skeleton-text {
	background: #ccc;
	height: 20px;
	margin-bottom: 10px;
	border-radius: 4px;
}

.skeleton-image {
	background: #ccc;
	height: 100px;
	border-radius: 8px;
}
.container {
	display: flex;
	justify-content: space-between;
	flex-direction: row;
}

#filters {
	display: flex;
	flex-direction: column;
	justify-content: flex-start;
	align-items: flex-start;
	width: 200px;
	background-image: url("images/89980.webp");
	flex-shrink: 0;
}

#character-list {
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
	gap: 16px;
	flex-grow: 1;
}

/* Modal styles */
.modal {
	display: none;
	position: fixed;
	z-index: 1;
	left: 0;
	top: 0;
	width: 100%;
	height: 100%;
	overflow: auto;
	background-color: rgb(0, 0, 0);
	background-color: rgba(0, 0, 0, 0.4);
}

.modal-content {
	display: flex;
	flex-direction: column;
	background-color: #fefefe;
	margin: 15% auto;
	padding: 20px;
	border: 1px solid #888;
	width: 80%;
	max-height: 80vh;
	overflow-y: auto;
}

.close-button {
	color: #aaa;
	float: right;
	font-size: 28px;
	font-weight: bold;
}

.close-button:hover,
.close-button:focus {
	color: black;
	text-decoration: none;
	cursor: pointer;
}
.transformation {
	display: flex;
	flex-direction: column;
	align-items: center;
}

#modal-character-info {
	display: flex;
	flex-direction: column;
	align-items: center;
}

@keyframes pulse {
	0% {
		background-color: #e0e0e0;
	}
	50% {
		background-color: #f0f0f0;
	}
	100% {
		background-color: #e0e0e0;
	}
}
